
.HomePresentationContainer{
    max-width: 700px;
    text-align: Justify;
    margin-top: 10%;
    margin-left: 7.5%;
    font-size: 24px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.23);
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
    backdrop-filter: blur(25px) saturate(4%);
    -webkit-backdrop-filter: blur(25px) saturate(4%);
    background-color: rgba(255, 255, 255, 0);
}

@media screen and (max-width: 1000px) {
    .HomePresentationContainer{
        width: 90%;
        font-size: 2.5vw;
        float: none;
        padding-right: 5%;
        padding-left: 5%;
        max-width: none;
        text-align: justify;
        margin-left: 2.5%;
    }

    .WorkWebContainer h1{
        text-align: center;
        padding-bottom: 5%;
        font-size:5vw;
    }

    .WorkWebContainer p{
        padding-bottom: 5%!important;
    }

    .webLink{
        padding-left: 30%;
    }

}