.nav-link-custom {
    color: white !important; /* Initial color */
    margin-left: 40px;
    text-decoration: none;
    font-size: 40px;
}

.nav-link-custom:hover {
    color: gray!important; /* Change color on hover */
}


.custom-toggler{
    margin-top: 2%;
    float: left;
    width: 60px; /* Adjust as necessary */
    height: 60px; /* Adjust as necessary */
    border: 1px solid white;
    margin-right: 5%;
    font-size: 30px;
}



.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


.custom-toggler:hover{
    color: white;
}

@media screen and (max-width: 576px){
    .nav-link-custom{
        font-size: 25px;
        width: 100%;
    }

    .nav-link-custom:hover{
        font-size: 30px;
    }

}