.ServiceBox{
    border-radius: 20px;
    border:solid 1px grey;
    text-align: left;
    padding-bottom: 2%;
    box-shadow: gray 0px 0px 22px 4px;
}


@media screen and (max-width:775px){
    .ServiceBox img{
        height: 100px;
        border-radius: 0!important;
    }

    .ServiceBox{
        border: none;
    }
}